[submodule "ext/LuaJIT"]
	path = ext/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "docs/themes/terminal"]
	path = docs/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
